<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.entity.mapper.ManagerMapper">
    <insert id="insertUser"></insert>


    <select id="selectByManagerName" parameterType="string" resultType="net.entity.Manager">
        SELECT * FROM manager WHERE managername = #{managerName}
    </select>
</mapper>
